<a href="https://colab.research.google.com/github/FaresSouissi/DataScienceCourse/blob/master/PythonTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python tutorial

In [1]:
# This is my first Python program.
# This will print 'Hello, World!' as the output

print ("Hello, World!");

Hello, World!

In [2]:
if True :
  print("True")
else :
  print("False")

True

In [4]:
if True:
  print ("Answer")
  print ("True")
else:
  print ("Answer")
  print ("False")

Answer
True

In [15]:
days = ["Monday", "Tuesday","Wednesday","Thursday","Friday"]
word ="word"
sentence ="This is a sentence"
paragraph = """This is a paragraph
written in two lines"""

In [11]:
print(days)
print(type(days))

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
<class 'list'>

In [12]:
print(word)

word

In [13]:
print(sentence)

This is a sentence

In [16]:
print(paragraph)

This is a paragraph
written in two lines

In [20]:
#!/usr/bin/python

input("\n\nEnter the input ")

Enter the input 8

'8'

In [23]:
import sys
word = "foo"
sys.stdout.write(word + '\n')
print(word + '\n')

foo
foo

In [28]:
condition = input("Enter a number : \n")

Enter a number :
10

In [29]:
if condition == "1":
  print(condition)
elif condition == "8":
  print(condition+condition)
else:
  print("autre")

autre

In [33]:
def add(a,b):
  """Function to add the value of a and b"""
  return a+b

print(add.__doc__)
print("the somme is", add(4,5))

Function to add the value of a and b
the somme is 9

In [35]:
counter = 100
print(counter)

del counter
print(counter)

100

NameError: ignored

In [37]:
a,b,c = 1,2,"a"
print(a)
print(b)
print(c)

1
2
a

In [39]:
#Local variable
def add (a,b):
  return a+b
print(add(4,5))

9

In [41]:
#Global variable
a=3
b=4
def add():
  sum = a+b
  return sum

print(add())

7

In [44]:
a = 100
b = 2.5
c = 2 + 3j

print("the data type of ",a,"is ", type(a))
print("the data type of ",b,"is ", type(b))
print("the data type of ",c,"is ", type(c))

the data type of  100 is  <class 'int'>
the data type of  2.5 is  <class 'float'>
the data type of  (2+3j) is  <class 'complex'>

In [48]:
str ="Hello world"

print(str)
print(str[0])
print(str[2:5])
print(str[2:])
print(str*2)
print(str + " TEST")

Hello world
H
llo
llo world
Hello worldHello world
Hello world TEST

In [55]:
list = [2, "John", 1.1,4]
tinylist =["Doe", 3]

print(list)
print(list[0])
print(list[1:3])
print(tinylist*2)
print(list + tinylist)
print(list[1][0])

[2, 'John', 1.1, 4]
2
['John', 1.1]
['Doe', 3, 'Doe', 3]
[2, 'John', 1.1, 4, 'Doe', 3]
J